nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: white;
  z-index: 99;
  height: 68px;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
  letter-spacing: 0.5px;
}